<div class="container">
  <%= form_for @interactor3, url: session_path, html: {class: "form-horizontal"} do |form| %>
    <fieldset>
      <legend>Sign In to BillOHIP</legend>

      <%= form.group :email do %>
        <%= form.label :email, class: "control-label col-md-2" %>
        <div class="col-md-10">
          <%= form.email_field :email, class: "form-control input-lg" %>
          <%= form.help_block :email %>
        </div>
      <% end %>

      <%= form.group :password do %>
        <%= form.label :password, class: "control-label col-md-2" %>
        <div class="col-md-10">
          <%= form.password_field :password, class: "form-control input-lg" %>
          <%= form.help_block :password %>
        </div>
      <% end %>

      <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
          <%= form.submit "Sign In", class: "btn btn-block btn-lg btn-primary" %>
        </div>
      </div>
    </fieldset>
  <% end %>

  <a href="/forgot_password" class="btn btn-lg btn-block">Forgot your password?</a>
  <a href="/create_account" class="btn btn-lg btn-block">Create account now</a>
</div>
