<div class="xrow">
  <div class="xcol-md-12">
    <a class="collapse-chevron collapsed" data-toggle="collapse" href="#" data-target="#record-<%= index %>">
      <i class="fa toggle-chevron"></i>
      <%= record %>
    </a>
  </div>
</div>
<div id="record-<%= index %>" class="collapse">
  <div class="xrow">
    <div class="xcol-md-offset-1 xcol-md-11">
      <%= record.class.to_s.titleize %>
    <table>
    <% record.fields.each do |key, value| %>
      <% if record.class.field_definitions[key].display %>
      <tr>
        <th style="text-align: right; padding-right: 10px;">
          <%= key %>
        </th>
        <td>
          <%= value %>
        </td>
      </tr>
      <% end %>
    <% end %>
    </table>
    </div>
  </div>
</div>
