<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-push-8">
      <form action="<%= admin_edt_files_path %>" method="get" class="form-horizontal">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Filters</strong>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <div class="col-md-12">
                <%= select_tag :user_id, options_from_collection_for_select(policy_scope(User), "id", "name", user_id_filter), class: "form-control", prompt: "All" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <%= hidden_field_tag "types[]", nil %>
                <% Rails.application.eager_load! if Rails.env.development? %>
                <% EdtFile.subclasses.each do |klass| %>
                  <div class="checkbox">
                    <label>
                      <%= check_box_tag "types[]", klass.name, type_filter.include?(klass.name) %>
                      <%= klass.name.underscore.titleize %>
                    </label>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <%= icon_submit "filter", "Filter", class: "btn btn-primary", name: "" %>
              </div>
            </div>
          </div>
        </div>
      </form>
      <%= form_tag admin_edt_files_path, class: "form-horizontal", multipart: true %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Upload File</strong>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <div class="col-md-12">
                <%= file_field_tag 'contents' %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <%= icon_submit "upload", "Upload", class: "btn btn-primary", name: "" %>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-md-8 col-md-pull-4">
      <%= render partial: "list", locals: {files: @edt_files} %>
    </div>
  </div>
</div>
