<fieldset>
  <legend>User</legend>

  <%= form.group :name do %>
    <%= form.label :name, class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= form.text_field :name, class: "form-control input" %>
      <%= form.help_block :name %>
    </div>
  <% end %>

  <%= form.group :email do %>
    <%= form.label :email, class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= form.email_field :email, class: "form-control input" %>
      <%= form.help_block :email %>
    </div>
  <% end %>

  <%= form.group :password do %>
    <%= form.label :password, class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= form.password_field :password, class: "form-control input" %>
      <%= form.help_block :password %>
    </div>
  <% end %>

  <%= form.group :password_confirmation do %>
    <%= form.label :password_confirmation, class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= form.password_field :password_confirmation, class: "form-control input" %>
      <%= form.help_block :password_confirmation %>
    </div>
  <% end %>

  <%= form.group :agent_id do %>
    <%= form.label :agent_id, class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= form.collection_select :agent_id, Admin::User.agent, :id, :name, {prompt: true}, class: "form-control input" %>
      <%= form.help_block :agent_id %>
    </div>
  <% end %>
</fieldset>
