<div class="container">
  <%= form_for @interactor, url: admin_claim_path, html: {class: "form-horizontal", multipart: true} do |form| %>
    <fieldset>
      <legend>Claim</legend>

      <%= form.group :status do %>
        <label class="control-label col-md-2">Status</label>
        <div class="col-md-10">
          <p class="form-control-static"><%= @interactor.status.humanize %></p>
        </div>
      <% end %>

      <%= form.group :photo_id do %>
        <label class="control-label col-md-2">Patient ID Photo</label>
        <div class="col-md-10">
          <p class="form-control-static">
            <% if @interactor.claim.photo.present? %>
              <%= link_to @interactor.claim.photo.file.url do %>
                <%= image_tag @interactor.claim.photo.file.small.url, width: 300, class: "thumbnail", data: {lightbox: @interactor.claim.photo.file.url} %>
              <% end %>
            <% else %>
              None
            <% end %>
          </p>
        </div>
      <% end %>

      <%= form.group :patient_name do %>
        <%= form.label :patient_name, "Patient Name", class: "control-label col-md-2" %>
        <div class="col-md-4">
          <%= form.text_field :patient_name, class: "form-control" %>
          <%= form.help_block :patient_name %>
        </div>
      <% end %>

      <%= form.group :patient_number do %>
       <%= form.label :patient_number, "Patient Number", class: "control-label col-md-2" %>
        <div class="col-md-4">
          <%= form.text_field :patient_number, class: "form-control" %>
          <%= form.help_block :patient_number %>
        </div>
      <% end %>

      <%= form.group :patient_province do %>
       <%= form.label :patient_province, "Patient Province (2 character code)", class: "control-label col-md-2" %>
        <div class="col-md-4">
          <%= form.text_field :patient_province, class: "form-control" %>
          <%= form.help_block :patient_province %>
        </div>
      <% end %>

      <%= form.group :patient_birthday do %>
       <%= form.label :patient_birthday, "Patient Birthday (YYYY-mm-dd)", class: "control-label col-md-2" %>
        <div class="col-md-4">
          <%= form.text_field :patient_birthday, class: "form-control" %>
          <%= form.help_block :patient_birthday %>
        </div>
      <% end %>

      <%= form.group :patient_sex do %>
       <%= form.label :patient_sex, "Patient Sex (M or F)", class: "control-label col-md-2" %>
        <div class="col-md-4">
          <%= form.text_field :patient_sex, class: "form-control" %>
          <%= form.help_block :patient_sex %>
        </div>
      <% end %>

      <%= form.group :hospital do %>
        <label class="control-label col-md-2">Hospital</label>
        <div class="col-md-10">
          <p class="form-control-static"><%= @interactor.claim.details["hospital"] %></p>
        </div>
      <% end %>

      <%= form.group :referring_physician do %>
        <label class="control-label col-md-2">Referring Physician</label>
        <div class="col-md-10">
          <p class="form-control-static"><%= @interactor.claim.details["referring_physician"] %></p>
        </div>
      <% end %>

      <%= form.group :diagnoses do %>
        <label class="control-label col-md-2">Diagnoses</label>
        <div class="col-md-10">
          <% @interactor.claim.details.fetch("diagnoses", []).each do |diagnosis| %>
            <p class="form-control-static"><%= diagnosis["name"] %></p>
          <% end %>
        </div>
      <% end %>

      <%= form.group :admission_on do %>
        <label class="control-label col-md-2">Admission Date</label>
        <div class="col-md-10">
          <p class="form-control-static"><%= @interactor.claim.details["admission_on"] %></p>
        </div>
      <% end %>

      <%= form.group :first_seen_on do %>
        <label class="control-label col-md-2">First Seen Date</label>
        <div class="col-md-10">
          <p class="form-control-static"><%= @interactor.claim.details["first_seen_on"] %></p>
        </div>
      <% end %>

      <%= form.group :last_seen_on do %>
        <label class="control-label col-md-2">Last Seen Date</label>
        <div class="col-md-10">
          <p class="form-control-static"><%= @interactor.claim.details["last_seen_on"] %></p>
        </div>
      <% end %>

      <%= form.group :procedure_on do %>
        <label class="control-label col-md-2">Procedure / Treatment Date</label>
        <div class="col-md-10">
          <p class="form-control-static"><%= @interactor.claim.details["procedure_on"] %></p>
        </div>
      <% end %>
    </fieldset>

    <fieldset>
      <legend>Daily Details</legend>

      <% if @interactor.claim.details["daily_details"].present? %>
        <% @interactor.claim.details["daily_details"].each do |daily_detail| %>
          <div class="form-group">
            <label class="control-label col-md-2">
              <%= daily_detail["day"] %>
            </label>
            <div class="col-md-10">
              <p class="form-control-static">
                <%= daily_detail["code"] %> <%= daily_detail["units"] %>@<%= daily_detail["fee"] / 100.0 %>
              </p>
              <p class="form-control-static">
                <%= markdown(daily_detail["message"]) %>
              </p>
              <% daily_detail["premiums"] && daily_detail["premiums"].each do |premium| %>
                <p class="form-control-static">
                  <%= premium["code"] %> <%= premium["units"] %>@<%= premium["fee"] / 100.0 %>
                </p>
                <p class="form-control-static">
                  <%= markdown(premium["message"]) %>
                </p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p class="col-md-10 col-md-offset-2">None</p>
      <% end %>
    </fieldset>

    <fieldset>
      <legend>Extra Fields</legend>
      <%= form.group :manual_review_indicator do %>
       <%= form.label :manual_review_indicator, "Manual Review Indicator", class: "control-label col-md-2" %>
        <div class="col-md-4">
          <%= form.check_box :manual_review_indicator, class: "form-control" %>
          <%= form.help_block :manual_review_indicator %>
        </div>
      <% end %>

      <%= form.group :service_location do %>
       <%= form.label :service_location, "Service Location ('', HDS, HED, HIP, HOP, HRP, OTN)", class: "control-label col-md-2" %>
        <div class="col-md-4">
          <%= form.text_field :service_location, class: "form-control" %>
          <%= form.help_block :service_location %>
        </div>
      <% end %>
    </fieldset>


    <fieldset>
      <legend>Comments</legend>

      <% if @interactor.claim.comments.present? %>
        <% @interactor.claim.comments.each do |comment| %>
          <div class="form-group">
            <div class="control-label col-md-2">
              <label>
                <%= comment.created_at.to_date %>
              </label>
              <p class="text-muted"><%= comment.user.name %></p>
            </div>
            <div class="col-md-10">
              <p class="form-control-static">
                <%= markdown(comment.body) %>
              </p>
            </div>
          </div>
        <% end %>
      <% else %>
        <p class="col-md-10 col-md-offset-2">
          No comments
        </p>
      <% end %>

      <%= form.group :comment do %>
        <div class="col-md-4 col-md-push-2">
          <%= form.text_field :comment, class: "form-control", placeholder: "Add a new comment" %>
          <%= form.help_block :comment %>
        </div>
      <% end %>
    </fieldset>

    <fieldset>
      <legend>Backend</legend>

      <div class="form-group">
        <%= form.label :status, class: "control-label col-md-2" %>
        <div class="col-md-10">
          <% Claim::NEXT_STATUSES[@interactor.claim.status].each do |status| %>
            <% next if status == "reclaimed" %>
            <div class="radio">
              <label>
                <%= form.radio_button :status, status %>
                <%= status.humanize %>
              </label>
            </div>
          <% end %>
        </div>
      </div>
    </fieldset>

    <div class="form-group">
      <div class="col-md-10 col-md-offset-2">
        <%= icon_submit "check", "Update", type: "submit", class: "btn btn-primary" %>
        <% if params[:next] %>
          <input type="hidden" name="next" value="<%= params[:next].join(',') %>"/>
          <%= icon_submit "arrow-right", "Next", type: "submit", class: "btn btn-primary", name: "next_button" %>
        <% end %>
        <%= icon_link_to "times", "Cancel", admin_claims_path, class: "btn btn-default" %>
      </div>
    </div>
  <% end %>
  <% if Claim::NEXT_STATUSES[@interactor.claim.status].include?("reclaimed") %>
    <form class="form-horizontal" method="POST" action="<%= reclaim_admin_claim_path %>">
      <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
          <%= icon_submit "check", "Reclaim", type: "submit", class: "btn btn-primary" %>
        </div>
      </div>
    </form>
  <% end %>
</div>

<%= render "layouts/lightbox", title: "Photo" %>
