<div class="container">
  <%= form_for @claim, as: :claim, url: admin_claim_path, html: {class: "form-horizontal", multipart: true} do |form| %>
    <fieldset>
      <legend>Claim</legend>

      <%= form.group :status do %>
        <label class="control-label col-md-2">Status</label>
        <div class="col-md-10">
          <p class="form-control-static"><%= @claim.status.humanize %></p>
        </div>
      <% end %>

      <%= form.group :photo_id do %>
        <label class="control-label col-md-2">Patient ID Photo</label>
        <div class="col-md-10">
          <p class="form-control-static">
            <% if @claim.photo.present? %>
              <%= link_to @claim.photo.url do %>
                <%= image_tag @claim.photo.small.url, width: 300, class: "thumbnail", data: {lightbox: @claim.photo.url} %>
              <% end %>
            <% else %>
              None
            <% end %>
          </p>
        </div>
      <% end %>

      <%#= form.group :patient_name do %>
        <%#= form.label :patient_name, "Patient Name, DOB, HC#", class: "control-label col-md-2" %>
        <div class="col-md-4">
          <%#= form.text_field :patient_name, class: "form-control" %>
          <%#= form.help_block :patient_name %>
        </div>
      <%# end %>

      <%= form.group :hospital do %>
        <label class="control-label col-md-2">Hospital</label>
        <div class="col-md-10">
          <%= form.static :hospital %>
        </div>
      <% end %>

      <%= form.group :referring_physician do %>
        <label class="control-label col-md-2">Referring Physician</label>
        <div class="col-md-10">
          <%= form.static :referring_physician %>
        </div>
      <% end %>

      <%= form.group :diagnosis do %>
        <label class="control-label col-md-2">Diagnosis</label>
        <div class="col-md-10">
          <%= form.static :diagnosis %>
        </div>
      <% end %>

      <%= form.group :last_seen_date do %>
        <label class="control-label col-md-2">Procedure Date</label>
        <div class="col-md-10">
          <%= form.static :procedure_date %>
        </div>
      <% end %>

      <%= form.group :admission_date do %>
        <label class="control-label col-md-2">Admission Date</label>
        <div class="col-md-10">
          <%= form.static :admission_date %>
        </div>
      <% end %>

      <%= form.group :first_seen_date do %>
        <label class="control-label col-md-2">First Seen Date</label>
        <div class="col-md-10">
          <%= form.static :first_seen_date %>
        </div>
      <% end %>

      <%= form.group :last_seen_date do %>
        <label class="control-label col-md-2">Last Seen Date</label>
        <div class="col-md-10">
          <%= form.static :last_seen_date %>
        </div>
      <% end %>
    </fieldset>

    <fieldset>
      <legend>Daily Details</legend>

      <% if @claim.details.present? %>
        <% @claim.details["daily_details"].each do |detail| %>
          <div class="form-group">
            <label class="control-label col-md-2">
              <%= detail.day %>
            </label>
            <div class="col-md-10">
              <p class="form-control-static">
                <% if @claim.details_fields.include?(:code) %>
                  <%= detail.code_with_name %>
                <% end %>
                <% if @claim.details_fields.include?(:time_in) and @claim.details_fields.include?(:time_out) %>
                  (<%= detail.time_in.to_s(:time) %> &mdash; <%= detail.time_out.to_s(:time) %>)
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
      <% else %>
        <p class="col-md-10 col-md-offset-2">None</p>
      <% end %>
    </fieldset>

    <fieldset>
      <legend>Backend</legend>

      <div class="form-group">
        <%= form.label :status, class: "control-label col-md-2" %>
        <div class="col-md-10">
          <% Claim.statuses.each do |name, value| %>
            <div class="radio">
              <label>
                <%= form.radio_button :status, value %>
                <%= name.humanize %>
              </label>
            </div>
          <% end %>
        </div>
      </div>
    </fieldset>

    <div class="form-group">
      <div class="col-md-10 col-md-offset-2">
        <%= icon_submit "ok", "Update", type: "submit", class: "btn btn-success" %>
        <%= icon_link_to "remove", "Cancel", admin_claims_path, class: "btn btn-default" %>
      </div>
    </div>
  <% end %>
</div>

<%#= render "layouts/lightbox", title: "Photo" %>
