<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-push-8">
      <form action="<%= admin_claims_path %>" method="get" class="form-horizontal">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Filters</strong>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <%= label_tag :user_id, "Doctor", class: "control-label col-md-2" %>
              <div class="col-md-10">
                <%= select_tag :user_id, options_from_collection_for_select(policy_scope(:user), "id", "name", user_id_filter), class: "form-control", prompt: "All" %>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2">Status</label>
              <div class="col-md-10">
                <%= hidden_field_tag "status[]", nil %>
                <% Claim.statuses.each do |name, value| %>
                  <div class="checkbox">
                    <label>
                      <%= check_box_tag "status[]", value, status_filter.include?(value.to_s) %>
                      <%= name.humanize %>
                    </label>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-10 col-md-offset-2">
                <%= icon_submit "filter", "Filter", class: "btn btn-primary", name: "" %>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-md-8 col-md-pull-4">
      <table class="table table-striped">
        <tr>
          <th><%= sortable_link_to "id", "#" %></th>
          <th class="text-center"><%= sortable_link_to "users.name", "Doctor" %></th>
          <th class="text-center"><%= sortable_link_to "status" %></th>
          <th class="text-center"><%= sortable_link_to "patient_name" %></th>
          <th class="text-right">Actions</th>
        </tr>
        <% @claims.each do |claim| %>
          <tr>
            <td><%= claim.id %></td>
            <td class="text-center"><%= claim.user.name %></td>
            <td class="text-center"><%= claim.status.humanize %></td>
            <td class="text-center"><%= claim.details["patient_name"] %></td>
            <td class="text-right"><%= link_to "Edit", edit_admin_claim_path(claim) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
