<!DOCTYPE html>
<html>
<head>

<title>BillOHIP Admin</title>
<%= stylesheet_link_tag "admin", media: "all", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
<script>
  window.ENV = {
    API_ROOT: "/",
    CORDOVA: false
  };
</script>
<%= javascript_include_tag "static", "data-turbolinks-track" => true %>
<%= javascript_include_tag "admin-react", "data-turbolinks-track" => true %>
</head>
<body>

<%= render "layouts/menu" %>
<%= render "layouts/flash" %>

<%= yield %>

</body>
</html>
