<!DOCTYPE html>
<html>
<head>

<title>Mo-Billing V3</title>
<%= stylesheet_link_tag "v3", media: "all" %>
<%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, user-scalable=0" />
<%= javascript_include_tag "static" %>
<%= javascript_include_tag "react-bundle" %>
<%= javascript_include_tag "v3" %>
<script>
  userActions.init(<%= current_user.as_json(include_doctors: true).to_json.html_safe %>);
</script>
</head>
<body>
  <div id="replaceme">
</div>
</body>
</html>
